<a href="https://colab.research.google.com/github/vidhipitroda/Backpropagation-from-scratch/blob/master/Backpropagation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Backpropagation

In [0]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from random import random
from random import seed
import matplotlib.pyplot as plt
from math import exp

from sklearn.model_selection import train_test_split

Fetching the dataset and performing preprocessing steps

In [0]:
#providing the path for dataset
dataset = pd.read_csv(r'..transfusion.csv') 
#printing the first 5 columns of the dataset
dataset.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [0]:
#Renaming the dataset columns
dataset = dataset.rename(columns={"Recency (months)":"Months","Frequency (times)":"Frequency","Time (months)":"Time","whether he/she donated blood in March 2007":"final"})

In [0]:
#shuffling the dataset
dataset = dataset.sample(frac=1).reset_index(drop=True) # Shuffle
#seperating the labels 
final = dataset[['final']]
#storing the input features in dataset
dataset = dataset[['Months', 'Frequency', 'Monetary (c.c. blood)', 'Time']]
dataset.head()

   Months  Frequency  Monetary (c.c. blood)  Time
0      16          7                   1750    64
1       2          4                   1000    16
2      14          2                    500    21
3       4          8                   2000    21
4       3          5                   1250    12

Normalize the dataset

In [0]:
#normalization of the input data
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(dataset)
df_norm= pd.DataFrame(x_scaled)
print("the normalized data\n",df_norm)

the normalized data
             0         1         2         3
0    0.216216  0.122449  0.122449  0.645833
1    0.027027  0.061224  0.061224  0.145833
2    0.189189  0.020408  0.020408  0.197917
3    0.054054  0.142857  0.142857  0.197917
4    0.040541  0.081633  0.081633  0.104167
..        ...       ...       ...       ...
743  0.027027  0.020408  0.020408  0.093750
744  0.216216  0.183673  0.183673  0.625000
745  0.310811  0.000000  0.000000  0.218750
746  0.027027  0.122449  0.122449  0.125000
747  0.148649  0.020408  0.020408  0.093750

[748 rows x 4 columns]

In [0]:
#combining the normalized data with the labels
df = pd.concat([df_norm, final], axis=1)

Splitting the dataset

In [0]:
#splitting the data into training and testing
X, X_test, y, y_test = train_test_split(df_norm, final, test_size=0.2, random_state=42)
X = X.to_numpy()
print("shape of training data",X.shape)
print("shape of testing data",y.shape)

shape of training data (598, 4)
shape of testing data (598, 1)

Performing one hot encoding

In [0]:
#performing one hot encoding on training labels
# 1. INSTANTIATE
enc = preprocessing.OneHotEncoder()

# 2. FIT
enc.fit(y)

# 3. Transform
y = enc.transform(y).toarray()
y

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

array([[1., 0.],
       [1., 0.],
       [0., 1.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])

In [0]:
#performing one hot encoding on testing labels
# 1. INSTANTIATE
enc = preprocessing.OneHotEncoder()

# 2. FIT
enc.fit(y_test)

# 3. Transform
y1 = enc.transform(y_test).toarray()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

Generating hidden layers and their weights

In [0]:
#Generating the weights for hidden layers
num_inputs = len(X[0])
num_outputs = len(y[0])
bais = 1
def addinv(hidden_layer_neuron1,hidden_layer_neuron2,hidden_layer_neuron3,hidden_layer_neuron4):
    w1 = 2*np.random.random((num_inputs, hidden_layer_neuron1)) - 1 
    w2 = 2*np.random.random((hidden_layer_neuron1,hidden_layer_neuron2)) -1
    w3 = 2*np.random.random((hidden_layer_neuron2,hidden_layer_neuron3)) -1
    w4 = 2*np.random.random((hidden_layer_neuron3,hidden_layer_neuron4)) -1
    w5 = 2*np.random.random((hidden_layer_neuron4, num_outputs)) -1
   
    return w1,w2,w3,w4,w5
w1,w2,w3,w4,w5 = addinv(6,6,6,6)

In [0]:
learning_momentum = 0.01
#function for calculating activation function
def sigmoid(Z):
    A = 1 / (1 + np.exp(-Z))
    return A
#function for weight updation
def update_weight(l,delta,learning_rate):
    
    a = l.T.dot(delta)*learning_rate
    return a
#function for calulation delta
def sigmoid_prime(x):
    return x *(1-x)

Forward Propagation

In [0]:
def forward():
    for epoch in range(500):
        layer1 = np.dot(X, w1)+bais
        l1 = sigmoid(layer1)
    
        layer2 = np.dot(l1,w2) + bais
        l2 = sigmoid(layer2)
    
        layer3 = np.dot(l2,w3) + bais
        l3 = sigmoid(layer3)
    
        layer4 = np.dot(l3,w4) + bais
        l4 = sigmoid(layer4)
  
        layer5 = np.dot(l4,w5) 
        l5 = sigmoid(layer5)
    
    #calculating the error rate for back propagation
    er = (abs(y - l5)).mean()
    print("the total error encountered in forward propagation",er)
    return l1,l2,l3,l4,l5

updating the weights based on the error (Backpropagation)

In [0]:
l1,l2,l3,l4,l5 = forward()
for epoch in range(500):
    
    
    #calculating delta value
    l5_delta = (y - l5)* sigmoid_prime(l5)
   
    l4_delta = l5_delta.dot(w5.T) * sigmoid_prime(l4)
 
    l3_delta = l4_delta.dot(w4.T) * sigmoid_prime(l3)
    
    l2_delta = l3_delta.dot(w3.T) * sigmoid_prime(l2)

    l1_delta = l2_delta.dot(w2.T) * sigmoid_prime(l1)
    #updating the weights
    w5 += update_weight(l4,l5_delta,0.1)
   
    w4 += update_weight(l3,l4_delta,0.1)

    w3 += update_weight(l2,l3_delta,0.1)
 
    w2 += update_weight(l1,l2_delta,0.1)
    
    w1 += update_weight(X,l1_delta,0.1)

the total error encountered in forward propagation 0.4857397531302229

Testing the model and finding out the accuracy

In [0]:


l1 = 1/(1 + np.exp(-(np.dot(X_test,w1))))
l2 = 1/(1 + np.exp(-(np.dot(l1,w2))))
l3 = 1/(1 + np.exp(-(np.dot(l2,w3))))
l4 = 1/(1 + np.exp(-(np.dot(l3,w4))))
l5 = 1/(1 + np.exp(-(np.dot(l4,w5))))
#X.shape
#y.shape

In [0]:
#predicting the values and calculating accuracy
yp = np.argmax(l5, axis=1) # prediction 
res = yp == np.argmax(y1, axis=1)
correct = np.sum(res)/len(res)

print('Correct:',sum(res),'/',len(res), ': Accuracy :', (correct*100),'%')

Correct: 120 / 150 : Accuracy : 80.0 %